/* Mobile first styling */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* Importing a title font */
.title {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 50px;
}

nav{
    text-align: center;
}

/* Styling for desktops */
@media screen and (min-width : 800px) {
    
}