/* Colour palette - beige: #F3F3E0  Dark Blue: #133E87 Med Blue: #608BC1 Light Blue: CBDCEB*/

/* Mobile first styling */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* Importing a title font */
.title {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 64px;
    color: #133E87;
}

.navBoxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
  }
  
  .navBox {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
  }
  
  .navBox:hover {
    transform: scale(1.05);
  }
  
  .navImg {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
  }

/* Styling for desktops */
@media screen and (min-width : 800px) {
    
}